.counter {
    text-align: center;
    padding: 20px;
    border: 2px solid #5fd9fb;
    border-radius: 10px;
    width: 300px;
    margin: 20px auto;
}
.count {
    color: #5fd9fb;
    font-size: 20px;
}
.redCount {
    color: red;
    font-size: 20px;
}
.button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #5fd9fb;
    color: black;
    border: none;
    cursor: pointer;
    font-family: Consolas;
}
.button:disabled {
    background-color: #5c9e9e;
}
body {
    background-color: black;
    font-family: Consolas;
}